
.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    
  }
  
  .tab-list-item{
    font-size: 16px;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    margin-right: 1px;
    padding: 0.5rem 1.75rem;
    background-color:#95a5a6;
  }
  
  
  .tab-list-active  {
    color: #e34e4e;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    border-bottom:3px solid #3498db;
    
  }
  .tab-content{
    font-size:25px
  }
